* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main {
    /* background: linear-gradient(to left, #fe7051, #ff7800); */
    /* background-image: url(/landing-page/static/galaxy.jpg); */
}

.card {
  padding: 20px;
  margin: 20px;
}
