<div id="book-find-component">
  <h3>Find Book</h3>
  <div style="display: flex; flex-direction: row;">
    <input #bookFindBox id="isbnInput" type="text" class="input-box"
           size="13" maxlength="13" placeholder="ISBN" />
    <button (click)="getBook(bookFindBox.value)">
      Find
    </button>
  </div>
  <div class="book-details" *ngIf="book.title">
    <span class="book-title">{{book.title}}</span>
    <span class="book-data">ISBN-13: {{book.isbn13}}</span>
    <span class="book-data">ISBN-10: {{book.isbn10}}</span>
    <span class="book-data">Page Count: {{book.numPages}}</span>
    <span class="book-data">Publish Date: {{book.publishDate}}</span>
    <span class="book-data">Format: {{book.physicalFormat}}</span>
    <span class="book-data">Publishers: {{book.publishers}}</span>
  </div>
</div>
