* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav {
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: coral;
    border-radius: 5px;
}
.nav-links{
    display: flex;
    color: blue;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    flex: 1;
    cursor: pointer;
    transition: 0.3s;

}
.nav-link:hover {
    color:black;
    text-decoration: underline;
}
.nav-link:active {
    color: green;
}
.logo-container {
    flex: 2;
}
