.movie-search-listing {
  display:flex;
  flex-direction:column;
  margin: 5px;
  padding: 5px;
}
.movie-title {
  font-weight: bold;
  font-size: large;
}
.movie-overview {
  font-weight: lighter;
  font-size: medium;
}
.movie-search-box {
  display: flex;
  flex-direction: row;
  width: 75%;
}
#search-box, label {
  padding: 5px;
  margin: 2px;
  font-weight: normal;
  font-size: large;
}
